<ion-view view-title="{{post.title}}" class="post-details-view">
  <ion-content overflow-scroll="true">
    <div class="post-card-content">
      <div class="item item-image">
        <pre-img ratio="_1_1" helper-class="main-image">
          <img ng-src="{{post.picture}}" spinner-on-load>
        </pre-img>
      </div>
      <div class="item item-divider trend-callout">
        <span class="post-trend-copy">Catch up with this trend</span>
        <a class="trend-wrapper button button-small" ui-sref="app.trend_feed({ trendId: post.trend.id })">
          <i class="icon ion-arrow-graph-up-right"></i>
          <span class="post-trend">{{ post.trend.name }}</span>
          <i class="icon ion-chevron-right"></i>
        </a>
      </div>
      <div class="item item-body">
        <h2 class="post-title">{{post.title}}</h2>
      </div>
      <div class="item item-avatar">
        <div class="card-avatar-image-outer">
          <a ui-sref="app.profile.posts({userId: post.userId})">
            <pre-img ratio="_1_1" helper-class="avatar-image">
              <img ng-src="{{ post.user.picture }}" spinner-on-load>
            </pre-img>
          </a>
        </div>
        <a ui-sref="app.profile.posts({userId: post.userId})">
          <h2 class="avatar-title">{{ post.user.name.first }} {{ post.user.name.last }}</h2>
        </a>
        <p class="avatar-description"><span am-time-ago="post.date"></span></p>
          <a ui-sref="app.category_feed({ categoryId: post.category.id })">
            <span class="post-category {{ post.category.name }}">{{ post.category.name }}</span>
          </a>
      </div>
      <div class="item item-body post-description-outer">
        <p class="post-description">{{post.description}}</p>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="row">
      <div class="col col-50 col-center actions-col">
        <button class="button button-icon theme-icon icon-like"></button>
        <button ng-controller="CommentsCtrl" class="button button-icon theme-icon icon-bubble" ng-click="showComments(post)"></button>
        <button class="button button-icon theme-icon icon-share" social-share share="post"></button>
      </div>
      <div class="col col-50 col-center brief-col">
        <div class="actions-brief">vv
          <a class="subdued">{{post.likes}} Likes</a>
          <a ng-controller="CommentsCtrl" ng-click="showComments(post)" class="subdued">{{post.comments}} Comments</a>
        </div>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
