
<ion-view class="browse-view" view-title="Bands">
  <ion-content>
  
  
  

    <div class="list">
      <div class="row">
		<div class="col"><a class="button button-large button-stable" href="#/app/band/A">A</a></div>
		<div class="col"><a class="button button-large button-stable" href="#/app/band/B">B</a></div>
		<div class="col"><a class="button button-large button-stable" href="#/app/band/C">C</a></div>
		<div class="col"><a class="button button-large button-stable" href="#/app/band/D">D</a></div>
	  </div>
	  
	  <div class="row">
		<div class="col"><a class="button button-large button-stable" href="#/app/band/E">E</a></div>
		<div class="col"><a class="button button-large button-stable" href="#/app/band/F">F</a></div>
		<div class="col"><a class="button button-large button-stable" href="#/app/band/G">G</a></div>
		<div class="col"><a class="button button-large button-stable" href="#/app/band/H">H</a></div>
	  </div>
	
	  <div class="row">
		<div class="col"><a class="button button-large button-stable" href="#/app/band/I">I</a></div>
		<div class="col"><a class="button button-large button-stable" href="#/app/band/J">J</a></div>
		<div class="col"><a class="button button-large button-stable" href="#/app/band/K">K</a></div>
		<div class="col"><a class="button button-large button-stable" href="#/app/band/L">L</a></div>
	  </div>
	
	  <div class="row">
		<div class="col"><a class="button button-large button-stable" href="#/app/band/M">M</a></div>
		<div class="col"><a class="button button-large button-stable" href="#/app/band/N">N</a></div>
		<div class="col"><a class="button button-large button-stable" href="#/app/band/O">O</a></div>
		<div class="col"><a class="button button-large button-stable" href="#/app/band/P">P</a></div>
	  </div>
	
	  <div class="row">
		<div class="col"><a class="button button-large button-stable" href="#/app/band/Q">Q</a></div>
		<div class="col"><a class="button button-large button-stable" href="#/app/band/R">R</a></div>
		<div class="col"><a class="button button-large button-stable" href="#/app/band/S">S</a></div>
		<div class="col"><a class="button button-large button-stable" href="#/app/band/T">T</a></div>
	  </div>
	
	  <div class="row">
	  	<div class="col"><a class="button button-large button-stable" href="#/app/band/U">U</a></div>
		<div class="col"><a class="button button-large button-stable" href="#/app/band/V">V</a></div>
		<div class="col"><a class="button button-large button-stable" href="#/app/band/W">W</a></div>
		<div class="col"><a class="button button-large button-stable" href="#/app/band/X">X</a></div>
	  </div>
	
	  <div class="row">
		<div class="col"><a class="button button-large button-stable" href="#/app/band/Y">Y</a></div>
		<div class="col"><a class="button button-large button-stable" href="#/app/band/Z">Z</a></div>
		<div class="col"><a class="button button-large button-stable" href="#/app/band/1">#</a></div>
		<div class="col"></div>
	  </div>
	
	


     <!--  <div class="row categories-outer">
        <div ng-repeat="starting in bandstart" class="col col-50 category-item-outer">
          <a ng-href="#/app/band/{{ starting }}">
            <div class="category-item-wrapper">
              <div class="category-item-content" ng-init="bg_img = 'img/starts/'+starting+'.jpg'">
                <div multi-bg="[bg_img]" interval="3000" helper-class="category-with-image">
                  <h1 class="category-title">{{ starting }}</h1>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div> -->
    </div>
  </ion-content>
</ion-view>


<!-- 




	<div class="button-bar">
	  <a class="button" href="#/app/band/F">F</a>
	  <a class="button" href="#/app/band/G">G</a>
	  <a class="button" href="#/app/band/H">H</a>
	  <a class="button" href="#/app/band/I">I</a>
	  <a class="button" href="#/app/band/J">J</a>
	</div>

	<div class="button-bar">
	  <a class="button" href="#/app/band/K">K</a>
	  <a class="button" href="#/app/band/L">L</a>
	  <a class="button" href="#/app/band/M">M</a>
	  <a class="button" href="#/app/band/N">N</a>
	  <a class="button" href="#/app/band/O">O</a>
	</div>
	 
	<div class="button-bar">
	  <a class="button" href="#/app/band/P">P</a>
	  <a class="button" href="#/app/band/Q">Q</a>
	  <a class="button" href="#/app/band/R">R</a>
	  <a class="button" href="#/app/band/S">S</a>
	  <a class="button" href="#/app/band/T">T</a>
	</div>
	 
	<div class="button-bar">
	  <a class="button" href="#/app/band/U">U</a>
	  <a class="button" href="#/app/band/V">V</a>
	  <a class="button" href="#/app/band/W">W</a>
	  <a class="button" href="#/app/band/X">X</a>
	  <a class="button" href="#/app/band/Y">Y</a>
	</div>

	<div class="button-bar">
	  <a class="button" href="#/app/band/Z">Z</a>
	  <a class="button" href="#/app/band/1">#</a>
	</div>
  
  </ion-content>
</ion-view>
 -->