<ion-view class="gigs-view"  view-title="Band Info">

  
  <ion-content overflow-scroll="true" >
  
<div class="card-1">
	<div class="list card">
		<div class="item item-image">
			<pre-img ratio="_8_5" helper-class="main-image">
			  <img ng-src="{{ band.thumb }}" spinner-on-load>
			</pre-img>
		</div>
		
		<div class="item title" >
			<b>{{ band.name }}</b>
		</div>
		
		<div class="item item-icon-left dark" >
			<i class="icon ion-music-note"></i>
			{{band.genre}}
		</div>
		<div class="item item-icon-left dark">
			<i class="icon ion-person-stalker"></i>
			{{band.origin}}
		</div>
		
</div> 

<div class="list">

	<div class="item item-divider" ng-if="{{band.gigs.upcoming !== null}}">
		Upcoming Gigs
	</div>
  
    <a class="item item-thumbnail-left" href="#" ng-repeat="gigs in band.gigs.upcoming">
      <img src="{{ gigs.thumb }}">
      <h2>{{gigs.title}}</h2>
      <p><i class="icon ion-ios-calendar assertive"></i> {{gigs.date}} - {{gigs.time}}</p>
    </a>
	
	<div class="item item-divider" ng-if="{{band.gigs.previous !== null}}">
		Past Gigs
	</div>
  
    <a class="item item-thumbnail-left" href="#/app/gigs/{{gigs.id}}" ng-repeat="gigs in band.gigs.previous">
      <img src="{{ gigs.thumb }}">
      <h2>{{gigs.title}}</h2>
      <p><i class="icon ion-ios-calendar"></i> {{gigs.date}} - {{gigs.time}}</p>
      <p><i class="icon ion-ios-location"></i> {{gigs.venue}},{{gigs.city}}</p>
    </a>


</div>

  
  
  
<div class="card-1">
	<div class="list card">		
		<div class="item item-body item-text-wrap" ng-bind-html="gigs.description | unsafe">
			{{band.description}}
		</div>
		
	</div>
  
</div>

</ion-content>

</ion-view>