<ion-view class="gigs-view"  view-title="Gigs Sked">


    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            <a class="tab-item active"  menu-close href="#" name="gigs-upcoming">

                Upcoming
            </a>
            <a class="tab-item" menu-close href="#/app/gigsadded" name="gigs-latest">
                Latest Added
            </a>
            <a class="tab-item" menu-close href="#/app/gigspast" name="gigs-past">
                Past Events
            </a>
        </div>
    </div>



    <ion-content overflow-scroll="true" class="has-tabs-top">

        <!--   <div class="item item-divider ng-if="{{gigsupcoming !== null}}"">
        Upcoming Gigs
    </div> -->
    <div class="card-1">
        <div class="list card" ng-repeat="gigs_up in gigsupcoming">
            <div class="item item-image">
                <a class="card-image-anchor" href="#/app/gigs/{{ gigs_up.id}}">
                    <pre-img ratio="_8_5" helper-class="main-image">
                        <img ng-src="{{ gigs_up.thumb }}" spinner-on-load>
                    </pre-img>
                </a>
            </div>
            <a style=" font-size: 26px; float: right; padding: 13px; background: transparent; " ng-click="showAlert(gigs_up)">
                <i class="icon ion-android-more-vertical"></i>
            </a>
            <a class="item title" href="#/app/gigs/{{ gigs_up.id}}">
                <b>{{ gigs_up.title }}</b>
            </a>

            <a class="item item-icon-left assertive" href="#/app/gigs/{{ gigs_up.id}}">
                <i class="icon ion-ios-calendar"></i>
                {{gigs_up.date_before}}
            </a>
            <a class="item item-icon-left dark" href="#/app/gigs/{{ gigs_up.id}}">
                <i class="icon ion-ios-location"></i>
                {{gigs_up.venue}},{{gigs_up.city}}
            </a>
            <a class="item item-icon-left dark" href="#/app/gigs/{{ gigs_up.id}}">
                <i class="icon ion-ios-mic"></i>
                {{gigs_up.bands}}
            </a>

        </div>

    </div>

</ion-content>


</ion-view>
