<style>
map {
    width: 100%;
    height: 100% !important;
}
.scroll, .mapWrap {
    height: 100%;
}
</style>
<ion-view class="gigs-view"  view-title="Gigs Venue">
    <ion-content>
        <div class="mapWrap"  data-tap-disabled="true">
            <!-- <map center="14,121" zoom="10" > -->
                <!-- ngRepeat: pos in positions -->
                <!-- <marker ng-repeat="pos in positions" position="{{pos.lat}},{{pos.lng}}" id="marker-{{ pos.id }}" ng-click="showInfoWindow(event, info) ; info = pos.info"></marker> -->
            <!-- </map> -->
            <div id="map" style="height:100%;width:100%;"></div>
        </div>
    </ion-content>
</ion-view>
